<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Simple Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
<style>
    .vh-100 {
        min-height: 100vh;
    }

    .chat-interface {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;
        border-radius: 5px;
        padding: 10px;
        height: 80%;
        overflow-y: auto;
    }

    .chat-message {
        max-width: 80%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 20px;
    }

    .sent {
        align-self: flex-end;
        background-color: #dcf8c6;
    }

    .received {
        align-self: flex-start;
        background-color: #d8d8d8;
    }

</style>
</head>
<body>

<div id="app">
<div class="container border border-dark-subtle p-1 mt-2 d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="chat-interface">
        <h1 class="h1 text-center">Simple Chat</h1>
        <div class="chat-container" id="chat_output">
            <div v-for="(text, index) in sent_messages">
              <div class="chat-message sent">
                <p class="message-content"> ${ text } </p>
              </div>
              <div class="chat-message received">
                <p class="message-content"> ${ recv_messages[index] } </p>
              </div>
            </div>
        </div>
        <div class="chat-input input-group mt-2">
            <input type="text" class="form-control" id="user_input" v-model="prompt" @keyup.enter="onClick" placeholder="Type your message..."/>
            <button :class="button_class" id="send_message" @click="onClick">${ button_text }</button>
            <button class="btn btn-warning" id="clear_message" @click="clear">Clear</button>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.31/vue.global.prod.min.js"></script>
<script type="module">
  let controller; // AbortController to stop the streaming
  const elem = document.getElementById('chat_output')
  const chatApp = {
      delimiters: ['${', '}'],
      data() {
        return {
            prompt: '',
            streaming: false,
            sent_messages: [],
            recv_messages: [],
        }
      },
      mounted: function() {
        this.loadStore();
        elem.scrollTo(0, elem.scrollHeight);
      },
      computed: {
          button_text: function() {
              return this.streaming ? 'Stop' : 'Send';
          },
          button_class: function () {
              return this.streaming ? 'btn btn-danger' : 'btn btn-primary';
          }
      },
      methods: {
          clear() {
              this.stopStreaming();
              this.sent_messages = [];
              this.recv_messages = [];
              this.saveStore();
          },
          onClick() {
            if (this.streaming) {
                this.stopStreaming();
            } else {
                this.sendPrompt();
            }
          },
          sendPrompt() {
              const prompt = this.prompt.trim();
              if (prompt === '') {
                  console.log('empty prompt will not send')
                  return;
              }
              this.prompt = '';
              controller = new AbortController();
              this.sent_messages.push(prompt);
              this.recv_messages.push('');
              this.startStreaming({prompt: prompt});
          },
          buildConversation(prompt) {
              this.sent_messages.push(prompt);
              const body = {
                  top_p: 0.5,
                  model: 'gpt-3.5-turbo',
                  messages: [],
              };
              for (let i = 0; i < this.sent_messages.length; i++) {
                  body.messages.push({
                      role: 'user',
                      content: this.sent_messages[i],
                  });
                  if (i < this.recv_messages.length) {
                      body.messages.push({
                          role: 'system',
                          content: this.recv_messages[i],
                      });
                  }
              }
              this.recv_messages.push('');
              return body;
          },
          async startStreaming(body) {
              try {
                  this.streaming = true;
                  const index = this.recv_messages.length - 1;
                  const response = await fetch('/api/chat-process', {
                      method: 'POST',
                      signal: controller.signal, // Attach the AbortSignal to request
                      headers: {
                          'Content-Type': 'application/json',
                          'Authorization': 'Token e8487feb1cc878f3e25e854045d93582fed716c8',
                      },
                      body: JSON.stringify(body),
                  });
                  const reader = response.body.getReader();
                  while (true) {
                      const { done, value } = await reader.read();
                      if (done) {
                          break;
                      }
                      const text = new TextDecoder().decode(value);
                      console.log('stream chunk is:', text);
                      const parts = text.split('\n');
                      for (let i = 0; i < parts.length; i++) {
                          const input = parts[i].trim();
                          if (input.length === 0) {
                              continue;
                          }
                          const reply = JSON.parse(parts[i]);
                          this.recv_messages[index] = reply['text'];
                      }
                      elem.scrollTo(0, elem.scrollHeight);
                  }
                  elem.scrollTop = elem.scrollHeight;
              } catch (error) {
                  console.log('error', error);
              } finally {
                  this.stopStreaming();
                  this.saveStore();
              }
              // window.scrollTo(0, document.body.scrollHeight);
          },
          stopStreaming() {
            this.streaming = false;
            if (controller) {
                controller.abort();
                controller = null;
            }
          },
          loadStore() {
              const content = localStorage.getItem('APP_SIMPLE_CHAT_STORE');
              if (content) {
                  const store = JSON.parse(content);
                  this.sent_messages = store.sent || [];
                  this.recv_messages = store.recv || [];
              }
          },
          saveStore() {
              const store = {sent: this.sent_messages, recv: this.recv_messages};
              const content = JSON.stringify(store);
              localStorage.setItem('APP_SIMPLE_CHAT_STORE', content);
          }
      }
  }
  Vue.createApp(chatApp).mount("#app");
</script>
</body>
</html>
